@{
    ViewBag.Title = "Aplikacija napravena kako studentski proekt.";
}

@section css{
    <link href="@Url.Content("~/Content/about.css")" rel="stylesheet" />
}

<div id="divAbout">
    <h2>@ViewBag.Title</h2>
    <h3>Aplikacijata sluzi za online kupuvanje na produkti od poveke kategorii.</h3>

    <p>Pilot proekt koj seuste ne e celosno zavrsen.</p>
</div>