@*@model IEnumerable<MySQLConnectionDemo.Models.Produkt>*@
@{
    ViewBag.Title = "Hrana";
}

<h2>Hrana</h2>
@*@foreach (var item in Model)
{
    <p>Ime na produkt: @item.Ime Cena: @item.Cena</p>
}*@
